<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>290331913878-sskqt5nun3b7jat8idbjk5l66ncl7nu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290331913878-sskqt5nun3b7jat8idbjk5l66ncl7nu3</string>
	<key>API_KEY</key>
	<string>AIzaSyBlvj_5u2JIPoH80Graoy8qQ8uHPpvB440</string>
	<key>GCM_SENDER_ID</key>
	<string>290331913878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ac.ku.sci.cs.ShabuMaiJa-IOSClass</string>
	<key>PROJECT_ID</key>
	<string>shabumaija</string>
	<key>STORAGE_BUCKET</key>
	<string>shabumaija.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290331913878:ios:67fea3c697010897</string>
	<key>DATABASE_URL</key>
	<string>https://shabumaija.firebaseio.com</string>
</dict>
</plist>